body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

.loginblock {
  position: absolute;
  right: 20px;
  width: 250px;
  height: 150px;
  top: 20px;
}