body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

.loginblock{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 200px;
  height: 150px;
}

.loggedin{
  visibility: hidden;
}

