#monchat {
    width: 650px;
    height: 800px;
}

#chatwindow{
    border: solid 1px black;
    position: relative;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 600px;
}
#loginwindow {
    width: auto;
    border: solid 1px red;
}

#loginwindow h1 {
    font-size:16px;
    font-family:'sans-serif';
}

#main {
    border: solid 1px red;
    font-size: 14px;
    width:300px;
    height:150px;
    padding:2px;
}

#chatbox {
    border: solid 2px black;
    width:600px;
    height:400px;
    overflow:auto;
}

.chatrow {
    width:98%;
    border: solid 2px blue;
    margin: 2px 2px 2px 2px;
}
.userchat { background-color: #b9ffda; }
.otheruserchat { background-color: #c8e3e6; }
.information {background-color: lightgrey;}
.warning { background-color: lightyellow; }
.critical { background-color: red; }


.userpane {
    min-width:100px;
    display:table-cell;
    border: solid 1px #ecff30;
}

.userpic {
    background-color:lightgrey;
}

.userinfo {
    background-color:lightgrey;
}

.userip {
    background-color:lightgrey;
}

.usertime {
    background-color:lightgrey;
}

.contentpane {
    display:table-cell;
    width: 100%;
}

#alerts {
    width: 810px;
    left:650px;
    position:absolute;
    background-color:lightgrey;
    top:100px;
}

.alertrow {

    width: 800px;
    font-size: 11px;
    display: block;
}

.alertmessage {
    display:table-cell;
    padding: 0px 15px 0px 5px;
}

.alerttime {
    display:table-cell;
    padding: 0px 15px 0px 5px;
    min-width: 70px;
}

.alerthost {
    display:table-cell;
    padding: 0px 5px 0px 5px;
    min-width: 100px;
}

.ackpane {
    min-width:50px;
    display:table-cell;
}
.ackuser {

}
.ackdelete{
    min-width:18px;
    background-image: url("http://pic.dhe.ibm.com/infocenter/worlodep/v3r0m0/topic/com.ibm.worlodep.doc/cloudcommon/delete-icon-large.gif");
    background-repeat:no-repeat;
}

.acknoticed{
    min-width:18px;
    background-image: url("http://png-3.findicons.com/files/icons/573/must_have/16/check.png");
    background-repeat:no-repeat;
}