<div id='login' class='loginblock <%= loggedin != true ? "loggedin" : "notloggedin" %>'    >
    <form class="form-signin">
        <h4 class="form-signin-heading">Please sign in</h4>
        <input type="text" class="input-block-level" placeholder="User Name">
        <input type="password" class="input-block-level" placeholder="Password">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>
</div>