<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.designchemical.com/blog/wp-content/themes/dc2011/js/jquery.premium.plugins.js"></script>
    <script type="text/javascript" src="http://www.designchemical.com/blog/wp-content/themes/dc2011/js/jquery.premium.site.js"></script>
    <script type="text/javascript" src="http://www.designchemical.com/blog/wp-content/themes/dc2011/dcsns/js/jquery.social.stream.1.5.js"></script>

    <script type="text/javascript">
    $('#social-stream-2').dcSocialStream({
        feeds: {
        twitter: {
        id: 'designchemical,envato',
        thumb: true
        }
    },
    height: 540,
    filter: false,
    controls: false,
    rotate: {
        delay: 5000,
        direction: 'down'
        }
    });
    </script>


  <body>
    <h1><%= title %></h1><br>
    <%for (row in posts.rows){%>
    <%= posts.rows[row].post_name%></br>
    <%}%>

    <div id="social-stream-2" style="height:540px;left:200px,top:200px">
    </div>

  </body>
</html>
bin\pulseaudio.exe -p "lib\pulse-1.1\modules" -nF "etc\pulse\default.pa"
