<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1><br>
    <%for (row in posts.rows){%>
    <%= posts.rows[row].post_name%></br>
    <%}%>

  </body>
</html>