<!doctype html>
<script type='text/javascript' src="http://code.angularjs.org/angular-1.0.0rc4.min.js"></script>
<script type='text/javascript' src="http://code.angularjs.org/angular-resource-1.0.0rc4.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
<script src="./jason.js"></script>


<html ng-app="Graphite">
<body>
<div ng-controller="GraphiteCtrl">
    <form class="form-horizontal">
        <input type="text" ng-model="searchTerm">
        <button class="btn" ng-click="doSearch()"><i class="icon-search"></i>Search</button>
    </form>
    <table class="table table-striped">
        <tr ng-repeat="graph in graphiteResult.results">
            <td>{{graph}}</td>
        </tr>
    </table>
</div>
</body>
</html>